
    <header id="first">
        <div class="header-content">
            <div class="inner">
                <h1 class="cursive">Nice2Know</h1>
                <h4>Free amazing and fun facts, straight to your mobile phone!</h4>
                <hr>

                <br>
              {{#if logged_in}}
              <p>
                Welcome {{email}}! <br>
                You are user {{user_id}}.<br>
                <a href="/users/sign-out">Sign Out</a>
                </p>
                 {{/if}}

                 {{#unless logged_in}}
              <a href="/users/sign-in" class="btn btn-primary btn-xl">LOGIN</a> &nbsp; <a href="/users/new" class="btn btn-primary btn-xl">REGISTER</a> <br>
                <center><a href="#one" class="btn btn-circle page-scroll">
               {{/unless}}
            

                     <i class="fa fa-angle-double-down animated"></i>
                     </a></center>

            </div>
        </div>

        <video autoplay="" loop="" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
            <source src="assets/video/text.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>

    </header>
    <br>
   <section id="one" class="no-padding">
      <div class="container">
            <div class="row">
                <div id='oneHeader' class="col-lg-8 col-lg-offset-2 ">
                    <h2 class="margin-top-0 text-primary">Categories</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 media wow fadeIn">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/history">
                        <img src="assets/images/history.png" alt="Image 1">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 media wow fadeIn">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/sports">
                        <img src="assets/images/sports.png" class="img-responsive" alt="Image 2">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 media wow fadeIn">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/tech">
                        <img src="assets/images/technology.png" alt="Image 3">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 media wow fadeInLeft">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/images/science.png">
                        <img src="/assets/images/science.png" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 media wow fadeInLeft">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/images/society.png">
                        <img src="assets/images/society.png" class="img-responsive" alt="Image 5">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 media wow fadeInLeft">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="assets/images/fun.png">
                        <img src="assets/images/fun.png" class="img-responsive" alt="Image 6">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div> 
          <div class="col-lg-4  media wow fadeInRight">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/relations.png">
                        <img src="/assets/images/relations.png" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  <div class="col-lg-4  media wow fadeInRight">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/motivation.png">
                        <img src="/assets/images/motivation.png" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                  <div class="col-lg-4  media wow fadeInRight">
                    <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="/fitness.png">
                        <img src="/assets/images/fitness.png" class="img-responsive" alt="Image 4">
                        <div class="gallery-box-caption">
                            <div class="gallery-box-content">
                                <div>
                                    <i class="icon-md glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
    </section>
    
    <section id="last">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                    <hr class="primary">
                    <p>We love feedback. Fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <form class="contact-form row" action=''>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" name='name' class="form-control" placeholder="Name">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" name='email' class="form-control" placeholder="Email">
                        </div>
                        <div class="col-md-4">
                            <label></label>
                            <input type="text" name='phone' class="form-control" placeholder="Phone">
                        </div>
                        <div class="col-md-12">
                            <label></label>
                            <textarea class="form-control" rows="9" name='message' placeholder="Your message here.."></textarea>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <label></label>
                            <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <h2>Category Title</h2>
            <p>
              Category description.
            </p>

            <!-- basic buttons -->
            <!-- <button class="modalBtn" id="subscribeBtn" type="button" name="subscribe" value="{{this}}">+Subscribe</button>
            <button class="modalBtn" id="sendNowBtn" type="button" name="sendTextNow" value="{{this}}">Send Text Now</button> -->

            <!-- form buttons with routes -->
            <form action="subscriptions/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="subscribed" value="true">
              <button type="submit" class="modalBtn">+Subscribe</button>
            </form>
            <form action="user_facts/create/{{this.id}}" method="POST">
              <button type="submit" class="modalBtn">Send Text Now</button>
            </form>
            <!-- <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" /> -->
            <p>
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
            </p>
          </div>
        </div>
        </div>
    </div>
    <div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h2 class="text-center">Landing Zero Theme</h2>
            <h5 class="text-center">
                A free, responsive landing page theme built by BootstrapZero.
            </h5>
            <p class="text-justify">
                This is a single-page Bootstrap template with a sleek dark/grey color scheme, accent color and smooth scrolling.
                There are vertical content sections with subtle animations that are activated when scrolled into view using the jQuery WOW plugin. There is also a gallery with modals
                that work nicely to showcase your work portfolio. Other features include a contact form, email subscribe form, multi-column footer. Uses Questrial Google Font and Ionicons.
            </p>
            <p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
          </div>
        </div>
        </div>
    </div>

  </body>
</html>
